*{
    margin: 0px;
    padding: 0px;
}

body {
    display: grid;
    grid-template-areas: "header header header header"
                        "aside . main  main";
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}
main {
    grid-area: main;
}
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    
}

aside {
    grid-area: aside;
    width: 30%;
    padding: 15px;
}

a {
    display: flex;
    text-decoration: none;
    color: black;
}

article {
    grid-area: header;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 60px;

}

nav{
    width: 250px;
    background-color: #f4f4f4;
    padding: 20px;
    height: 100vh;
    position: fixed;
    top: 60px;
    left: 0;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
}